body{
  background-color: #012;
}
h1,h2,h3,h4,h5,h6{
  color: white;
}
line{
  stroke:#FFF;
  stroke-width:4px;
}
.line{
  fill:none;
  stroke:#FFF;
  stroke-width:0.2px;
}

.panel{
  border: solid 1px lightgray;
  border-radius: 15px;
  background-color: #123;
  box-shadow: 5px 5px rgba(255,255,255,0.2);
  padding: 15px 25px;
}
.panel div{
  padding:5px;
}

#view{
  overflow: auto;
}

#visualisation-disabled{
  display: none;
  color: yellow;
  font-size: large;
}

#log{
  overflow-y: scroll;
  max-height: 100px;
}